{% extends 'message/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список рассылок</h1>
</div>

<div class="container">
    <div class="row text-center">
        <p>
            <a class="btn btn-lg btn-block btn-outline-warning"
               href="{% url 'message:mailinglist_create' %}"
               role="button">Создать рассылку</a>
        </p>

        <div class="row">
            {% for mailinglist in object_list %}
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7 d-flex align-items-center justify-content-center">
                                <h4 class="my-0 font-weight-normal">{{ mailinglist }}</h4>
                            </div>
                            <div class="col-5">
                                <div class="d-grid gap-2">
                                    {% if mailinglist.status == 'Запущена' %}
                                        <a class="btn btn-lg btn-block btn-outline-danger form-control"
                                       style="float: right;" href="{% url 'message:toggle_status' mailinglist.pk %}"
                                       role="button">Завершить</a>
                                    {% else %}
                                    <a class="btn btn-lg btn-block btn-outline-success form-control"
                                       style="float: right;" href="{% url 'message:toggle_status' mailinglist.pk %}"
                                       role="button">Запустить</a>
                                    {% endif %}
                                    <a class="btn btn-lg btn-block btn-outline-primary form-control"
                                       style="float: right;" href="{% url 'message:mailinglist_detail' mailinglist.pk %}"
                                       role="button">Инфо</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

    </div>
    {% endblock %}